@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<table class="table">
    <tr class="d-lg-table-row">
        <td class="fw-bold">Họ và tên</td>
        <td>Nguyễn Công Thắng</td>
    </tr>
    <tr class="d-lg-table-row">
        <td class="fw-bold">MSSV</td>
        <td>231230913</td>
    </tr>
    <tr class="d-lg-table-row">
        <td class="fw-bold">Lớp</td>
        <td>CNTT1-K64</td>
    </tr>
    <tr class="d-lg-table-row">
        <td class="fw-bold">Email</td>
        <td>thang231230913@lms.utc.edu.vn</td>
    </tr>
    <tr class="d-lg-table-row">
        <td class="fw-bold">Số điện thoại</td>
        <td>0972857436</td>
    </tr>
</table>